<div class="result">
  <div class="result__header">
    <p>
      <%= link_to_if(@record.link.present?, @record.call_number, @record.link, target: "_blank") %>: <%= title %>
    </p>
    <p>
      <%= date %>
    </p>
  </div>
  <p>
    <%= summary %>
  </p>
</div>
