<h2>Über uns</h2>
<p>
  Bundessuche ist ein Projekt von <a href="https://emi.industries">Michael Emhofer</a> und bietet eine einfache und schnelle Möglichkeit, die Bestände des Bundesarchivs zu durchsuchen.
  Dieses Angebot richtet sich vorallem an Personen die für ihre Recherechen exakte Textuelle Übereinstimmungen suchen und große Mengen an Ergebnissen schnell sichten möchten.
  Die hierfür benötigten Erschließungsinformationen stammen aus dem <a href="https://www.bundesarchiv.de/DE/Content/Artikel/Ueber-uns/Aus-unserer-Arbeit/open-data.html">Open Data Angebot</a> des Bundesarchivs
</p>
<p>
  Weitere Optionen für die Suche in den Beständen des Bundesarchivs sind <a href="https://www.archivesportaleurope.net">Archives Portal Europe</a>, 
  <a href="https://www.archivportal-d.de">Archivportal-D</a> und <a href="https://invenio.bundesarchiv.de">Invenio</a>
  (welches direkt mit Bundessuche verlinkt ist, um die eigentlichen Archivalien einzusehen und zu bestellen).
</p>