body {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.container__outer {
  display: flex;
  justify-content: space-around;
}

.container__inner {
  max-width: 800pt;
}

.title-spacer {
  margin-top: 80pt;
  margin-bottom: 20pt;
  color: #a8a8a8;
  border: 1pt dotted;
}

footer {
  margin-top: 2rem;
  text-align: center;
}