@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(EB_Garamond/WOFF2/EBGaramond12-Regular.woff2) format("woff2"),
    url(EB_Garamond/WOFF/EBGaramond12-Regular.woff)  format("woff");
}
