.result__header {
  display: flex;
  justify-content: space-between;
}

.pagination {
  text-align: center;
}

.result__highlight {
  background-color: rgba(185, 255, 147, 0.717);
}

.parents {
  display: flex;
  flex-wrap: wrap;
}

.parents__item {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;

  border-radius: 2px;
  padding: 5px;
  background-color: #f1f5ff;
  color: #666666;
  overflow-wrap: anywhere;
}

.parents__separator {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  
  padding-top: 5px;
  padding-bottom: 5px;
  color: #666666;
}

.result {
  margin-bottom: 80px;
}

.result__title {
  overflow-wrap: anywhere;
}

.result__summary {
  overflow-wrap: anywhere;
}